@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #000000 0%, #030921 100%);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
